body {
  font-size: 20px;
  text-align: center;
  background-color: black;
  background-image: url(https://wallpaper.dog/large/964111.png);
  background-size: contain;
  background-repeat: no-repeat; 
  
}
url {
  object-fit: contain;
}
h1 {
  color: #800020;
  font-family: cursive;
  font-size: 50px ;
}
h2 {
  font-size: 20px;
  font-family: cursive;
  color: whitesmoke;
}
.grid-container {
  display: grid;
  grid-template-columns:auto auto;
  background-color: gray;
  padding: 40px;
  gap: 10px;
  column-gap: 50px;
}
.grid-item {
  background-color: #800020;
  border: 10px solid;
  padding: 10px 10px;
  font-size: 60px;
  text-align: center;
}